---
orphan: true
---

::::{grid} 1 2 3 4
{% for example in examples %}
:::{grid-item-card} {{example.title}}
:link: /{{example.doc}}
:link-type: doc
:text-align: center

![{{example.title}}]({{example.image}})
^^^
:::
{% endfor %}
::::
