---
orphan: true
---

:::::{grid} 2 2 2 3
:gutter: 3

{% for example in examples %}
:::{grid-item-card} {{example.gallery_title}}
:link: /{{example.doc}}
:link-type: doc
:text-align: center
```{anylink-gallery}
:anylink: {{example.anylink}}
:image: {{example.gallery_image}}
:title: {{example.gallery_title}}
:style: gallery
:link-classes: sd-text-right
![Load into AnyBody](/_static/AnyLinkLoad.svg){h=2.5em}

```
^^^
:::
{% endfor %}
:::::
