span.anylink-title {
  white-space: break-spaces;
  word-wrap: break-word;
  display: inline-block;
  font-family: "Droid Sans Mono", monospace;
  background-color: rgba(0, 0, 0, .075);
  border: 1px solid rgba(0, 0, 0, .05);
  padding: 0px 4px;
  margin: 1px;
  font-size: 100%;
  border-radius: 4px;
  text-align: left;
  line-height: normal
}

sup.anylink-ref {
  /* font-weight: bold; */
  font-style: italic;
}

/* Tooltip text */

.anylink-tooltip .anylink-tooltiptext {
  /* visibility: hidden; */
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.anylink-tooltip .anylink-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.anylink-tooltip:hover .anylink-tooltiptext {
  /* visibility: visible; */
  opacity: 1;
}

/*  Hidden unselectable whitespace */

span.anylink-hiddenws {
  font-size: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}