
//
// !!! THIS FILE IS A TEMPLATE, SHOWING HOW YOUR MODEL COULD BE CUSTOMIZED BY CHANGING BODY MODEL PARAMETERS.
// !!! IT IS RECOMMENDED TO COPY THIS FILE INTO YOUR APPLICATION FOLDER OR COPY NECESSARY
// !!! LINES INTO THE MAIN FILE OF YOUR APPLICATION BEFORE INCLUDING "HumanModel.any" !!!  
// !!! PLEASE NOTE THAT SOME OBVIOUS OPTIONS (ON, OFF, etc) ARE NOT SHOWN HERE !!! 
//



{% for name, obj in data.parameters.items() %}{%- if obj.deprecated is undefined %}
// {{obj.descr}}
// {{obj.type if obj.type else "#define"}}  {{name}} {{obj.default}}
{%- if obj.opt is defined or obj.default in ("ON","OFF") %}
// Possible values: {{", ".join(obj.opt or ["ON","OFF"])}}{{", " if obj.opt}}
{% else %}
{% endif %}
{% endif -%}{% endfor %}