**.cache/*.*
*.pyc
**/Output/*
!**/Output/.gitkeep
Docs/_build/*
Docs/auto_examples/*
.vscode/
Documentation/*
.pytest_cache/*
Tests/anytest-output/*
Tests/_anytest-output/*
.mypy_cache
.pytest_cache
Application/MocapExamples/Rehazenter-adult-walking-model/Output/*
