* text=auto
.gitattributes export-ignore  
.gitignore export-ignore
.gitkeep export-ignore
.github export-ignore
test_*.any export-ignore
pytest.ini export-ignore
Body/AAUHuman/BuildTools export-ignore
Tests export-ignore
Docs export-ignore
non-confidential.txt export-ignore
confidential.txt export-ignore
CHANGELOG.md export-ignore
