.gitattributes export-ignore  
.gitignore export-ignore
.gitkeep export-ignore
.gitlab-ci.yml export-ignore
test_*.any export-ignore
Body/AAUHuman/BuildTools export-ignore
Tests export-ignore
Docs export-ignore
non-confidential.txt export-ignore
confidential.txt export-ignore
CHANGELOG.txt export-ignore
