[project]
name = "ammr"
authors = ["Morten Enemark Lund <mel@anybodytech.com>"]
channels = ["conda-forge", "anybody"]
platforms = ["linux-64", "win-64"]

[dependencies]
python="3.12.0,<3.13"
jinja2 = ">=3.1.3,<3.2"


[feature.anybody80.dependencies]
python = "3.12.0,<3.13"
anypytools="*"
nomkl = "*"

[feature.anybody80.target.win-64.dependencies]
anybodycon = "8.1.0beta1"


[feature.anybody80.tasks]
update-mocap-files = {cmd = "python recreate_mocap_intermediate_files.py", cwd = "Tests"}


[feature.test.dependencies]
pytest = ">=8.0.0,<8.1.0"
pytest-split = "*"
pytest-xdist = "*"
azure-storage-blob = "12.19.0.*"

[feature.test.tasks]
testall = {cmd = "pytest -n auto --dist worksteal --runslow", cwd = "Tests"}


[feature.docs.dependencies]
python = ">=3.12.3,<3.13"
sphinx-book-theme = ">=1.1.3,<1.2"
sphinx-thebe = ">=0.3.1,<0.4"
sphinxcontrib-youtube = ">=1.4.1,<1.5"
sphinx-tabs = ">=3.4.1,<3.5"
sphinx-design = ">=0.5.0,<0.6"
sphinx-togglebutton = ">=0.3.2,<0.4"
sphinxext-opengraph = ">=0.9.1,<0.10"
sphinxcontrib-bibtex = ">=2.5.0,<2.6"
sphinx-copybutton = ">=0.5.2,<0.6"
myst-parser = ">=3.0.1,<3.1"
pygments_anyscript = ">=1.3.0,<1.4"
jinja2 = ">=3.1.3,<3.2"
python-frontmatter = ">=1.1.0,<1.2"
pydantic = ">=2.7.4,<2.8"
tqdm = ">=4.66.4,<4.67"

[feature.docs.tasks]
html = {cmd = "sphinx-build -M html . _build -W --keep-going", cwd = "Docs"}
linkcheck = {cmd = "sphinx-build -M linkcheck . _build -W --keep-going -a -q ", cwd = "Docs"}
clean = {cmd = "rm -rf _build", cwd = "Docs"}
bmconfig = {cmd = "python render_templates.py", cwd = "Body/AAUHuman/BuildTools"}


[environments]
anybodycon = ["anybody80"]
test = ["test", "anybody80"]
docs = {features = ["docs"], no-default-feature = true}
