[project]
name = "ammr"
authors = ["Morten Enemark Lund <mel@anybodytech.com>"]
channels = ["conda-forge", "anybody"]
platforms = ["linux-64", "win-64"]

[tasks]
testall = {cmd = "pytest -n auto --dist worksteal --runslow", cwd = "Tests"}
bmconfig = "python Body/AAUHuman/BuildTools/render_templates.py"

[dependencies]
pytest = "*"
pytest-split = "*"
anypytools = ">=1.11.1"
pytest-xdist = "*"
jinja2 = "*"
azure-storage-blob = "12.19.0.*"

[target.win-64.dependencies]
anybody = "7.5.*"
