
{% for groupname, group in groups.items() %}
## {{ groupname }}

{% for filename, clist in group.items() %}
* `#include "<ANYBODY_PATH_MODELUTILS>/{{groupname}}/{{ filename }}.any"`:
{% for classname in clist %}
   * {ref}`{{groupname}}.{{filename}}.{{classname}}`
{% endfor %}
{%- endfor %}


```{toctree}
:caption: {{ groupname }}
:includehidden: true
:hidden: true
:maxdepth: 2
:titlesonly: true
{% for filename in group %}
class-templates/{{ groupname }}.{{ filename }}
{%- endfor %}

```


{% endfor %}

