({{group}}.{{filename}}.any)=
# {{filename}}

{{filedocstring}}

:Usage: 
    Add the following to your model to use the class templates in the file
    ```{code-block} AnyScriptDoc
    #include "<ANYBODY_PATH_MODELUTILS>/{{group}}/{{filename}}.any"`
    ``` 

{% for classt in class_templates %}
{%- set classname = classt['classname'] %}

({{group}}.{{filename}}.{{classname}})=
{%- set expected_arguments = classt.args | selectattr("value", "eq", "") | list %}
{%- set optional_arguments = classt.args | selectattr("value", "ne", "") | list %}

## {{ classname }}

```{code-block} AnyScriptDoc
{{classname}} <ObjectName>
{%- if expected_arguments | length + optional_arguments | length  -%}
(
  {%- for arg in expected_arguments %}
  {{ arg.name }}=<required>,
{% endfor -%}
){% endif %} = {};
```

{% if classt['args'] -%}


:class type: `{{classt.classtype}}`
{% if optional_arguments | length -%}
:Optional args:
  {% for arg in optional_arguments %}
    - `{{ arg.name }} = {{ arg.value }}`
  {%- endfor %}
{% endif %}
{%- endif %}

{{ classt['docs'].strip() }}

{% endfor %}

