({{group}}.{{topic}}.{{filename}}.any)=
# {{filename}}

{{filedocstring}}

:::{code-block} AnyScriptDoc
:caption: Include this file this file to use
#include "{{include_str}}"`
::: 

{% for classt in class_templates %}
{%- set classname = classt['classname'] %}

({{group}}.{{topic}}.{{filename}}.{{classname}})=
{%- set expected_arguments = classt.args | selectattr("value", "eq", "") | list %}
{%- set optional_arguments = classt.args | selectattr("value", "ne", "") | list %}
{%- set all_arguments = expected_arguments + optional_arguments  %}

## {{ classname }}

:class template type: `{{classt.classtype}}`{l=AnyScript}

```{code-block} AnyScriptDoc
{{classname}} <ObjectName>
{%- if all_arguments | length  -%}
(
  {%- for arg in all_arguments %}
  {{ arg.name }}={{arg.name or "<required>"}},
{%- endfor %}
){% endif %} = {};
```

{{ classt['docs'].strip() }}

{% endfor %}

