# {{group}}

This is list of documented class templates in related to {{group}} in the model repository


{% for topicname, topic in topics.items() %}
## {{ topicname }}

{% for filename, fdata in topic.items() %}

### {{filename}}

* `#include "{{fdata.include_str}}"`{l=AnyScriptDoc}:
{% for class in fdata.class_templates %}
   * [`{{class.classname}} <ObjectName>()={};`{l=AnyScript}]({{group}}.{{topicname}}.{{filename}}.{{class.classname}})
{% endfor %}
{%- endfor %}


```{toctree}
:caption: {{ topicname }}
:includehidden: true
:hidden: true
:maxdepth: 2
:titlesonly: true
{% for filename in topic %}
class-templates/{{ group }}.{{topicname}}.{{ filename }}
{%- endfor %}

```


{% endfor %}

