# {{group}}

This is list of documented class templates in related to {{group}} in the model repository


{% for topicname, topic in topics.items() %}
{%- if topics | length > 1 %}
## {{ topicname }}
{% endif %}

{% for filename, fdata in topic.items() %}

::: {rubric} [{{filename}}](#{{ (group+"."+topicname+"."+filename)  | replace(" ","-") }}.any)
:::

{{fdata.descr}}

[`#include "{{fdata.include_str}}"`{l=AnyScriptDoc}](#{{ (group+"."+topicname+"."+filename) | replace(" ","-")}}.any)
{% for class in fdata.class_templates %}
* [`{{class.name}} <ObjectName>()={};`{l=AnyScriptDoc}](#{{ (group+"."+topicname+"."+filename) | replace(" ","-")}}.{{class.name}})
{% endfor %}
{%- endfor %}


```{toctree}
:caption: {{ topicname }}
:includehidden: true
:hidden: true
:maxdepth: 2
:titlesonly: true
{% for filename in topic %}
class-templates/{{ group }}.{{topicname}}.{{ filename }}
{%- endfor %}

```


{% endfor %}

