name: Nightly Full AMMR tests

on:
  schedule:
    - cron: 0 3 * * *
  pull_request_review_comment:
    types: [created, edited]
  pull_request:
    types: [opened]
  workflow_dispatch:


jobs:
  test:
    runs-on: self-hosted
    if: contains(github.event.comment.body, '#Run full test') || github.event_name == 'schedule'

    strategy:
      fail-fast: false
      matrix:
        wrapping: [Default, Experimental]

    env:
      AnyBody73_ExperimentalShortestPathSolver: ${{ matrix.wrapping == 'Experimental' }}
    
    name: |
      ${{ matrix.wrapping }} wrapping
      
    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      run: |
        cd Tests
        pytest --runslow -n 4 --instafail 

  
