name: Nightly Full AMMR tests

on:
  schedule:
    - cron: 0 3 * * *
  workflow_dispatch:
    inputs:
      debug_config:
        description: 'A debug environment varibles which is set when running tests.'
        required: false
        default: ""


concurrency: 
  group: ci-nightly-${{ github.ref }}
  cancel-in-progress: true


jobs:
  test:
    runs-on: [self-hosted, AnyBody]

    strategy:
      fail-fast: false
      matrix:
        ams_version: ["7.4_Beta", "7.3"]

    env:
      # Triggers a warning at 20 deg muscles angles
      ShortestPathMaxAngle: 0.3491
      ANYBODYCON: C:\Program Files\AnyBody Technology\AnyBody.${{ matrix.ams_version }}\AnyBodyCon.exe
      #PYTEST_ADDOPTS: ${{contains(matrix.ams_version, 'Beta') && '--suppress-tests-failed-exit-code' || ''}}

    steps:
      - uses: actions/checkout@v2

      - name: Set debug env var
        run: echo "${{ github.event.inputs.debug_config }}" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append

      - name: Install conda
        run: | 
          Invoke-Webrequest -URI https://anaconda.org/conda-forge/micromamba/0.22.0/download/win-64/micromamba-0.22.0-0.tar.bz2 -OutFile ~\micromamba.tar.bz2
          (Get-FileHash ~\micromamba.tar.bz2).hash -eq "49A22AB05DEE3AB7DC44B6EEB2515C763D598642739ED4E8421163426A6C5CAC"
          $env:Path = "C:\PROGRA~1\Git\usr\bin;" + $env:Path
          tar -xvjf ~/micromamba.tar.bz2 --strip-components 2 -C ~ Library/bin/micromamba.exe
          echo "MAMBA_ROOT_PREFIX=$HOME\micromamba" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append

      - name: Create conda environment
        run: | 
          ~\micromamba.exe shell hook -s powershell | Out-String | iex
          if (Test-Path -Path $Env:MAMBA_ROOT_PREFIX\envs\_ammr_test) {$OPR = "update"} else {$OPR = "create"}
          micromamba env $OPR -y -n _ammr_test -f Tests\test-environment.yml

      - name: Run full AMMR tests
        run: |
          ~\micromamba.exe shell hook -s powershell | Out-String | iex
          micromamba activate _ammr_test

          python -m pytest --runslow -n 4 --durations=20 --anybodycon="$Env:ANYBODYCON" Tests

  test-linux:
    runs-on: [self-hosted, linux]

    env:
      # Triggers a warning at 20 deg muscles angles
      ShortestPathMaxAngle: 0.3491

    steps:
      - uses: actions/checkout@v2
      
      - name: Set debug env var
        run: echo ${{ github.event.inputs.debug_config }} >> $GITHUB_ENV

      - name: Run AnyBody tests
        uses: anybody/anybodycon-action@7.3.4
        with:
          license_server_password: ${{ secrets.LICENSE_PASSWORD }}
          license_server: ${{ secrets.LICENSE_SERVER }}
          run: |
            python -m pytest --runslow -n 2 Tests


