name: Nightly Full AMMR tests

on:
  schedule:
    - cron: 0 4 * * *
  workflow_dispatch:
    inputs:
      debug_config:
        description: 'A debug environment varibles which is set when running tests.'
        required: false
        default: ""


concurrency: 
  group: ci-nightly-${{ github.ref }}
  cancel-in-progress: true


jobs:
  test:
    runs-on: [self-hosted, AnyBody]

    strategy:
      fail-fast: false
      matrix:
        include:
          - ams_version: "7.5_Beta"

    env:
      # Triggers a warning at 20 deg muscles angles
      ShortestPathMaxAngle: 0.3491
      ANYBODYCON: C:\Program Files\AnyBody Technology\AnyBody.${{ matrix.ams_version }}\AnyBodyCon.exe
      SuppressDeprecationMessages: ${{ matrix.suppress_deprecation_messages }}
      #PYTEST_ADDOPTS: ${{contains(matrix.ams_version, 'Beta') && '--suppress-tests-failed-exit-code' || ''}}

    steps:
      - uses: actions/checkout@v3

      - name: Set debug env var
        run: echo "${{ github.event.inputs.debug_config }}" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append

      - name: Install conda
        run: | 
          Invoke-Webrequest -URI https://anybodycloudci.blob.core.windows.net/micromamba/micromamba-0.25.1-0.tar.bz2 -OutFile ~\micromamba.tar.bz2
          (Get-FileHash ~\micromamba.tar.bz2).hash -eq "ED3B12B747F05A630198D3A8A8F7120BDE22AE9033CB62AF95D6F3DF57FE9B0C"
          $env:Path = "C:\PROGRA~1\Git\usr\bin;" + $env:Path
          tar -xvjf ~/micromamba.tar.bz2 --strip-components 2 -C ~ Library/bin/micromamba.exe
          echo "MAMBA_ROOT_PREFIX=$HOME\micromamba" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append

      - name: Create conda environment
        run: | 
          ~\micromamba.exe shell hook -s powershell | Out-String | iex
          micromamba create --allow-downgrade -y -n _ammr_test -f Tests\test-environment.yml

      - name: Run full AMMR tests
        run: |
          ~\micromamba.exe shell hook -s powershell | Out-String | iex
          micromamba activate _ammr_test
        
          cd Tests
          pytest -n 4 `
            --runslow `
            --instafail `
            --durations=20 `
            --anybodycon="$Env:ANYBODYCON" `
            $(Get-content .\known-failing-tests.txt | foreach {"--deselect={0}" -f $_.split('#')[0].trim() })

      - name: Run known failing AMMR tests
        run: |
          ~\micromamba.exe shell hook -s powershell | Out-String | iex
          micromamba activate _ammr_test

          cd Tests
          if ((Get-Content .\known-failing-tests.txt | Measure-Object).Count -gt 0) {
            pytest -n 4 `
              --runslow `
              --instafail `
              --durations=20 `
              --anybodycon="$Env:ANYBODYCON" `
              --xfail-all `
              --suppress-no-test-exit-code `
              $(Get-content .\known-failing-tests.txt | foreach {"{0}" -f $_.split('#')[0].trim()})
          }


