name: AMMR tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'Docs/**'

jobs:
  test:
    
    strategy:
      matrix:
        new_wrapping: [0, 1]
    env:
      AnyBody73_ExperimentalShortestPathSolver: ${{ matrix.new_wrapping }}
    

    runs-on: self-hosted
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    
    steps:
      - uses: actions/checkout@v2

      - name: AMMR tests
        run: pytest -n 4 --instafail

  
