name: Tests


on:
  push:
    branches: [master]
  pull_request:

  workflow_dispatch:
    inputs:
      custom-pytest-arg:
          description: 'Specify which test to run. E.g. `Tests/test_example.any`. Default is entire test suite.'
          required: false
          default: ''

concurrency: 
  group: Test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    if: ${{ !github.event.pull_request.head.repo.fork && github.repository == 'anybody/ammr' }}
    strategy:
      fail-fast: false
      matrix:
        test_group: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

    env:
      # Triggers a warning at 20 deg
      ShortestPathMaxAngle: 0.3491 

    runs-on: windows-2025
    
    steps:

      - uses: actions/checkout@v6

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          environments: test
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
          activate-environment: test
                    
      - name: Run AMMR tests
        run: |
          cd Tests
          pytest -n auto --dist worksteal `
          --splits 20 --group ${{ matrix.test_group }} --splitting-algorithm=least_duration `
          --durations=10 `
          --runslow
          ${{ github.event.inputs.custom-pytest-arg  || '' }}

        env:
          RLM_LICENSE: ${{ secrets.LICENSE_SERVER }}
          RLM_LICENSE_PASSWORD: ${{ secrets.LICENSE_PASSWORD }}
